html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: #161b2c;
  color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  padding: 2rem 0;
  justify-content: center;
  background-color: #1a2336;
  font-size: 1.5rem;
  position: sticky;
  top: 0rem;
  z-index: 30;
  font-weight: 700;
  box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

#headline {
  font-size: 1.2rem;
  width: 80%;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}

#text {
  font-size: 1.2rem;
  width: 80%;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  gap: 3rem;
}

.flip-card-1,
.flip-card-2,
.flip-card-3,
.flip-card-4 {
  background-color: transparent;
  width: 15rem;
  height: 10rem;
  perspective: 1000px; /* Gibt dem Container eine 3D-Sicht */
  cursor: pointer; /* Zeigt an, dass die Karte klickbar ist */
}

.flip-card-inner-1,
.flip-card-inner-2,
.flip-card-inner-3,
.flip-card-inner-4 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-inner-1.flipped,
.flip-card-inner-2.flipped,
.flip-card-inner-3.flipped,
.flip-card-inner-4.flipped {
  transform: rotateY(180deg); /* Dreht die Karte bei Klick */
}

.flip-card-front,
.flip-card-back,
.flip-card-front,
.flip-card-back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
}

.flip-card-front,
.flip-card-front {
  background-color: #c2185b;
  color: white;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.flip-card-back,
.flip-card-back {
  background-color: #3e56c0;
  color: white;
  padding: 2rem;
  transform: rotateY(180deg);
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 3rem;
}

button {
  background-color: unset;
  border: 3px solid #c2185b;
  color: white;
  padding: 2rem;
  height: 7rem;
  border-radius: 1rem;
  cursor: pointer;
  width: 15rem;
  font-size: 1.2rem;
  font-weight: 700;
}

img {
    display: none;
    width: 15rem;
}
